.theme-light {
  --body-bg-color: rgb(250, 250, 250);
  --list-bg-color: rgb(248, 248, 248);
  --font-color-primary: rgb(72, 75, 106);
  --font-color-hover: rgb(147, 148, 165);
  --font-color-tertiary: rgb(210, 211, 219);
  --font-color-quaternary: rgb(228, 229, 241);
  --bg-image-mobile: url(images/bg-mobile-light.jpg);
  --bg-image-desktop: url(images/bg-desktop-light.jpg);
}

.theme-dark {
  --body-bg-color: rgb(22, 23, 34);
  --list-bg-color: rgb(37, 39, 60);
  --font-color-primary: rgb(202, 205, 232);
  --font-color-hover: rgb(228, 229, 241);
  --font-color-secondary: rgb(119, 122, 146);
  --font-color-tertiary: rgb(77, 80, 102);
  --font-color-quaternary: rgb(57, 58, 76);
  --bg-image-mobile: url(images/bg-mobile-dark.jpg);
  --bg-image-desktop: url(images/bg-desktop-dark.jpg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg-color);
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  width: 100%;
}

/* HEADER */
header {
  background: var(--bg-image-mobile);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 40vh;
  width: 100%;
}

#header-container {
  letter-spacing: 1rem;
}

#theme-img {
  margin-right: -0.9rem;
}

main {
  margin-top: -6rem;
}

/* INPUT-FIELD */
.input-bg-color,
.input-bg-color:focus {
  text-indent: 2rem;
  color: var(--font-color-primary);
  background: var(--list-bg-color);
  border: none;
  opacity: 1;
}

/* LIST */
.list-item-bg {
  color: var(--font-color-primary);
  background: var(--list-bg-color);
  height: 3rem;
  border-bottom: 1px solid var(--font-color-quaternary);
}

.list-item-bg:last-of-type {
  border-radius: 0 0 4px 4px;
}

.check-btn {
  border: 1px solid var(--font-color-tertiary);
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.8rem;
  cursor: pointer;
}

.check-btn:hover {
  border: 1px solid var(--font-color-hover);
}

.check-btn--active {
  background: url(images/icon-check.svg),
    linear-gradient(to bottom right, rgb(87, 221, 255), rgb(192, 88, 243));
  background-repeat: no-repeat;
  background-position: center;
  height: 1.3rem;
  width: 1.3rem;
}

.check-btn--active ~ .list-text {
  text-decoration: line-through;
  color: var(--font-color-tertiary);
}

.check-btn--active ~ .close-btn {
  display: block !important;
}

.list-text {
  font-size: 1.2rem;
}

.close-btn {
  background: transparent;
  border: none;
}

.list-footer-bg {
  background: var(--list-bg-color);
  padding: 0;
  border: none;
  border-radius: 0px;
}

small {
  color: var(--font-color-secondary);
}

#all,
#active,
#completed,
#clear-completed--btn {
  cursor: pointer;
}

#all:hover,
#active:hover,
#completed:hover,
#clear-completed--btn:hover {
  color: var(--font-color-hover);
}

.active {
  color: rgb(58, 123, 253);
}

.hidden {
  display: none !important;
}

footer {
  margin-top: 1rem;
}

.footer-text-color {
  color: var(--font-color-secondary);
}

/* HEADER-IMAGE CHANGE QUERY */
@media (min-width: 37.5em), (min-width: 125em) {
  header {
    background: var(--bg-image-desktop);
    background-repeat: no-repeat;
  }
}

@media all and (max-width: 62em) {
  .list-footer-bg {
    padding: 0.7rem 0;
    border: 1px solid var(--font-color-quaternary);
    border-radius: 4px;
  }

  footer {
    margin-top: 7rem;
  }
}
